<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout(~{::section})">
<section>
<link rel="stylesheet" th:href="@{/magazine/magazine_detail.css}">

<div class="main">

<section class="_articleContainer_u9u3k_24">
	<header class="_header_u9u3k_67">
		<div class="_category_u9u3k_85 _medium_o65ro_6 _body4_o65ro_164">
			<a data-discover="true" href="/ko-KR/magazine">매거진</a>
			<svg xmlns="http://www.w3.org/2000/svg" width="6px" height="9px"
				fill="none" viewBox="0 0 6 10">
				<g fill="currentColor">
				<path d="M0 9.24 4.95 4.3l.7.7L.71 9.96z"></path>
				<path d="M.7.05 5.67 5l-.7.7L0 .77z"></path></g></svg>
			<a class="_headerText_u9u3k_109" data-discover="true"
				href="/ko-KR/magazine?filter=gafQej9pY">아티클</a>
		</div>
		<h1 class="_title_u9u3k_33">〈28년 후: 뼈의 사원〉 세계관 총정리 ☣️</h1>
		<div class="_profile_b5fl7_1">
			<span class="_releasedAt_b5fl7_32 _role_b5fl7_18">1일 전</span>
		</div>
		<button class="_shareButton_u9u3k_72" title="공유하기" type="button">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
				fill="none" viewBox="0 0 24 24" aria-hidden="true">
				<path fill="currentColor" fill-rule="evenodd"
					d="M16.78 6.65 12.53 2.4a.7.7 0 0 0-.82-.16q-.13.07-.24.16L7.22 6.65a.75.75 0 1 0 1.06 1.06l2.97-2.97v11.18a.75.75 0 0 0 1.5 0V4.74l2.97 2.97a.75.75 0 0 0 1.06-1.06"
					clip-rule="evenodd"></path>
				<path fill="currentColor" fill-rule="evenodd"
					d="M18.75 10.47h-3.44a.75.75 0 1 0 0 1.5h2.94v8.5H5.75v-8.5H8.7a.75.75 0 1 0 0-1.5H5.25a1 1 0 0 0-1 1v9.5a1 1 0 0 0 1 1h13.5a1 1 0 0 0 1-1v-9.5a1 1 0 0 0-1-1"
					clip-rule="evenodd"></path></svg>
		</button>
	</header>
	<section class="_article_u9u3k_5 _component_82rb0_1 _sunrise_82rb0_17">
		<article class="HTML">
			<link rel="stylesheet"
				href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
			<style>
body, p, span, div {
	font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, 'Helvetica Neue', Arial, 'Noto Sans KR', 'Apple SD Gothic Neo',
		'Malgun Gothic', sans-serif;
}
</style>
			<style data-mmw="1">
p {
	/*text-align: left !important;*/
	white-space: normal !important;
	word-break: normal !important; /* 줄바꿈 */
	overflow-wrap: anywhere !important; /* 공백 없는 긴 토큰도 분리 */
	text-justify: auto !important;
	letter-spacing: normal !important;
	word-spacing: normal !important;
}

em {
	font-style: italic;
}
</style>
			<p style="line-height: 1.5; text-align: justify;">
				<span style="color: #95a5a6;">*본 아티클은 원고료를 지원 받아 작성되었습니다.</span>
			</p>
			<p style="line-height: 1.5; text-align: justify;">&nbsp;</p>
			<p style="line-height: 1.5; text-align: justify;">일명 ‘뛰는 좀비’를
				탄생시키며 좀비물의 새로운 지평을 열었던 대니 보일 감독의 2002년 영화 〈28일 후〉. 시리즈의 신작 〈28년 후:
				뼈의 사원〉의 개봉을 앞두고, 알고 보면 더 재미있는 정보들을 모았습니다.</p>
			<p style="line-height: 1.5; text-align: justify;">
				<strong><br>
				<br></strong>
			</p>
			<p style="line-height: 1.5; text-align: center;">
				<img style="display: block; margin-left: auto; margin-right: auto;"
					src="https://an2-img.amz.wtchn.net/image/v2/PmLP_p_m0qD7z9RLs1rDEQ.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1KbklsMHNJbkFpT2lJdmRqSXZjM1J2Y21VdmFXMWhaMlV2TVRRd09ETTVOekUxTWpBeE56STNNeUo5LjNDU0JjdjNxRUFlNVJla2FhZUl4MWZrNG5HUEp3V1p6X0lGa1dkVDNMckU="
					width="100%" height="auto"><span
					style="font-size: 8pt; color: #95a5a6;">© 소니 픽쳐스 코리아</span>
			</p>
			<p style="line-height: 1.5; text-align: justify;">
				<strong><br>
				<br></strong>
			</p>
			<p style="line-height: 1.5; text-align: justify;">
				<strong>† 〈28일 후〉 시리즈, 속편 트릴로지?!&nbsp;</strong>
			</p>
			<p style="line-height: 1.5; text-align: justify;">
				<strong>&nbsp;</strong>
			</p>
			<p style="line-height: 1.5;">
				<img style="display: block; margin-left: auto; margin-right: auto;"
					src="https://an2-img.amz.wtchn.net/image/v2/U96CRiU9ZuFUbprMqD47Cw.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1KbklsMHNJbkFpT2lJdmRqSXZjM1J2Y21VdmFXMWhaMlV2TnpFM01UZzBPRFl3TkRZNE5ESTJJbjAuYkZpUW94WGFaM2xPa0xmZmI0T3dYME1oWmp6RENyWEd1OUt5OXIzRXlQUQ=="
					width="100%" height="auto">
			</p>
			<p style="line-height: 1.5; text-align: justify;">
				<strong>&nbsp;</strong>
			</p>
			<p style="line-height: 1.5; text-align: justify;">〈28일 후〉의 개봉으로부터
				20여 년이 지나 만나볼 수 있게 된 속편은 처음부터 세 편, 트릴로지 시리즈로 기획됐습니다. 시리즈 안의 시리즈인
				셈인데요. 지난해 6월 개봉한 〈28년 후〉가 그 포문을 여는 첫 번째 작품이었으며, 이어지는 두 번째 파트 〈28년 후:
				뼈의 사원〉은 오는 2월 27일 개봉을 앞두고 있습니다. 또한,&nbsp;트릴로지의 마지막 3편까지 현재 제작이 확정된
				상태입니다.&nbsp;</p>
			<p style="line-height: 1.5; text-align: justify;">
				<strong>&nbsp;</strong>
			</p>
			<p style="line-height: 1.5; text-align: justify;">〈28일 후〉의 오리지널
				각본은 〈멘〉, 〈시빌 워: 분열의 시대〉 등 연출작으로도 잘 알려진 알렉스 가랜드 감독이 집필했는데요. 속편 트릴로지의
				각본 작업 역시 알렉스 가랜드가 맡았으며, 전작의 감독인 대니 보일과 함께 세 편의 제작에도 참여합니다. 알렉스 가랜드는
				트릴로지가 긴밀하게 이어지는 이야기인 만큼 각본 역시 한 번에 썼다고 밝혔는데요. 영화 〈28년 후〉와 〈28년 후: 뼈의
				사원〉은 촬영까지 동시에 진행됐기 때문에, 일관된 세계관 속에서 더욱 긴밀하게 연결된 서사를 만나볼 수
				있습니다.&nbsp;</p>
			<p style="line-height: 1.5; text-align: justify;">
				<strong><br>
				<br></strong>
			</p>
			<p style="line-height: 1.5; text-align: justify;">
				<strong>† 〈28년 후〉 세계관 따라잡기&nbsp;</strong>
			</p>
			<p style="line-height: 1.5; text-align: justify;">〈28일 후〉 시리즈의
				타임라인을 따라가는 것은 그다지 어렵지 않습니다. 제목에서도 알 수 있듯, 2002년 첫 영화가 ‘분노 바이러스’ 발발 후
				28일이 지난 시점을 담았고, 〈28년 후〉 트릴로지는 그로부터 28년이 지난 뒤 벌어지는 일을 그리는데요. 영국 정부가
				무너지고, 사람들은 바이러스에 휩싸인 본토를 떠나 완전히 격리된 ‘홀리 아일랜드’라는 섬에 거처를 마련해 모여 살게 되죠.
				2025년 개봉한 〈28년 후〉에서는 홀리 아일랜드에서 태어나고 자란 소년 ‘스파이크’(알피 윌리엄스)의 서사를
				그렸습니다.&nbsp;</p>
			<p style="line-height: 1.5; text-align: justify;">
				<strong>&nbsp;</strong>
			</p>
			<p style="line-height: 1.5; text-align: center;">
				<img style="display: block; margin-left: auto; margin-right: auto;"
					src="https://an2-img.amz.wtchn.net/image/v2/2gRHAvI3D9JusaQevzqAEg.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1KbklsMHNJbkFpT2lJdmRqSXZjM1J2Y21VdmFXMWhaMlV2TVRRd09ETTVOamMzTURreE1qWTFOaUo5LlVaWWMxdEZVYVFINFg0cWhNWWNwaFlSc2NCRld6VWFiWVQ1QXY0cVpNdzA="
					width="100%" height="auto"><span
					style="color: #95a5a6; font-size: 8pt;">영화 〈28년 후〉 © 소니 픽쳐스
					코리아</span>
			</p>
			<p style="line-height: 1.5; text-align: justify;">
				<strong>&nbsp;</strong>
			</p>
			<p style="line-height: 1.5; text-align: justify;">엄마의 병을 치료할 방법을
				찾기 위해 난생처음으로 본토에 발을 디딘 스파이크는 죽은 자들을 기리며 본토에 머무르고 있던 ‘켈슨 박사’(랄프 파인즈)와
				광기에 휩싸인 미스터리한 지도자 ‘지미 크리스털’을 만나게 되는데요. 이 시점에서 이야기를 이어가는 〈28년 후: 뼈의
				사원〉은 사회 구조가 무너져 각자도생만이 유일한 생존법이 된 세상에서 스스로 살아남을 길을 찾아 나서는 사람들의 모습을
				그립니다. 누군가는 혼돈과 폭력의 길을 택하기도 하며, 이 세계에서 가장 위험한 존재는 감염자들이 아닐지도
				모르죠.&nbsp;</p>
			<p style="line-height: 1.5; text-align: justify;">
				<strong>&nbsp;</strong>
			</p>
			<p style="line-height: 1.5;">
				<img style="display: block; margin-left: auto; margin-right: auto;"
					src="https://an2-img.amz.wtchn.net/image/v2/BmU1g6mXls7yiK8LzHMFWA.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1KbklsMHNJbkFpT2lJdmRqSXZjM1J2Y21VdmFXMWhaMlV2TVRjMU16azVOelU1TlRVek1URXpNeUo5LjlrQU5aaGJmMUQ4UU1JT2huTlJneWItdkdUTDhWd1o3bTFpQnBHWUlQVUU="
					width="100%" height="auto">
			</p>
			<p style="line-height: 1.5; text-align: center;">
				<img style="display: block; margin-left: auto; margin-right: auto;"
					src="https://an2-img.amz.wtchn.net/image/v2/91RVN8wCBTXyKrOzZBgQ3w.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1KbklsMHNJbkFpT2lJdmRqSXZjM1J2Y21VdmFXMWhaMlV2TVRRd09ETTVOVFV6TVRReE1ERXdNaUo5LlFPX2NTSHBDQkNRUXNaeHBZRWF6OEx1bWYyNlgzUVBBRkFjdHprQlRBQ1k="
					width="100%" height="auto"><span
					style="color: #95a5a6; font-size: 8pt;">영화 〈28년 후: 뼈의 사원〉 ©
					소니 픽쳐스 코리아</span>
			</p>
			<p style="line-height: 1.5; text-align: justify;">
				<strong>&nbsp;</strong>
			</p>
			<p style="line-height: 1.5; text-align: justify;">치 루이스 패리가 연기한
				캐릭터 ‘삼손’의 활약도 예고됐습니다. 삼손은 바이러스 감염을 피해 살아남는&nbsp;방법을 터득한 그는 압도적인 힘과
				피지컬을 지닌 알파 감염자인데요. 앞선 작품들에서는 인류의 생존을 위협하는 최상위 감염자이자 통제 불가능한 존재였으나 이번
				작품에서는 켈슨 박사와의 관계 속에서 또 다른 방향으로의 진화를 보여줄 예정입니다.&nbsp;</p>
			<p style="line-height: 1.5; text-align: justify;">
				<strong><br>
				<br></strong>
			</p>
			<p style="line-height: 1.5; text-align: justify;">
				<strong>† 〈28년 후: 뼈의 사원〉 기대 포인트&nbsp;</strong>
			</p>
			<p style="line-height: 1.5; text-align: justify;">&nbsp;</p>
			<p style="line-height: 1.5; text-align: center;">
				<img style="display: block; margin-left: auto; margin-right: auto;"
					src="https://an2-img.amz.wtchn.net/image/v2/ekOfXH8AutS4jhUTkZa2Jw.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1KbklsMHNJbkFpT2lJdmRqSXZjM1J2Y21VdmFXMWhaMlV2TnpFM01UZ3pOVEExTnpBMk5EZzNJbjAuekp6QnQ5ajRDckR5WkgzSk5HWEYwOUhvRnN0V0ZfUWtyU3JXQzNUdU1mUQ=="
					width="100%" height="auto"><span
					style="font-size: 8pt; color: #95a5a6;">영화 〈28년 후: 뼈의 사원〉 ©
					소니 픽쳐스 코리아</span>
			</p>
			<p style="line-height: 1.5; text-align: justify;">
				<strong>&nbsp;</strong>
			</p>
			<p style="line-height: 1.5; text-align: justify;">〈28년 후: 뼈의
				사원〉에는 전설적인 〈28일 후〉를 탄생시킨 대니 보일 감독이 제작자로 참여했는데요. 이번 영화의 연출을 맡은 니아
				다코스타는 〈캔디맨〉, 〈헤다〉 등을 내놓으며 최근 할리우드에서 가장 뜨거운 관심을 받고 있는 감독 중 한 명입니다. 니아
				다코스타는&nbsp; 어릴 때부터 〈28일 후〉를 수없이 돌려봤을 만큼 시리즈의 열렬한 팬이며, 이번 작품이 자신이
				경험했던 최고의 영화 제작 과정이라고 밝히기도 했죠. 제작자이자 전작의 감독인 대니 보일 역시 니아 다코스타가 본인만의
				뚜렷한 정체성과 독창적인 연출 방식을 가지고 있으며, 트릴로지의 2막에 해당하는 〈28년 후: 뼈의 사원〉이 전작보다 훨씬
				더 강렬한 에너지가 담겨 있다고 말했는데요. 이번 작품은 니아 다코스타 역시 연출적으로 새롭게 접근한 영화로, 내면의 가장
				깊숙한 공포와 극도의 불안, 기이함을 불러일으킬 예정입니다.</p>
			<p style="line-height: 1.5; text-align: justify;">&nbsp;</p>
			<p style="line-height: 1.5; text-align: center;">
				<strong><img
					style="display: block; margin-left: auto; margin-right: auto;"
					src="https://an2-img.amz.wtchn.net/image/v2/OBbUIyS4KkyPTQJNPpVeow.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1KbklsMHNJbkFpT2lJdmRqSXZjM1J2Y21VdmFXMWhaMlV2TVRRNU1EVTVORFk0TkRnM09USTVOaUo5LkdoOUpOZGpXX1Qxcy1UbTQ1dzNEbVg2OEloa05XUndtbkdtNkNWWHdBUEU="
					width="100%" height="auto"></strong><span
					style="font-size: 8pt; color: #95a5a6;">킬리언 머피 © 소니 픽쳐스 코리아</span>
			</p>
			<p style="line-height: 1.5; text-align: justify;">
				<strong>&nbsp;</strong>
			</p>
			<p style="line-height: 1.5; text-align: justify;">무엇보다 〈28일 후〉에서
				주인공 ‘짐’ 역으로 강렬한 인상을 남기며 신드롬을 이끌었던 배우 킬리언&nbsp;머피가 이번 작품에 모습을 드러낼 것을
				예고하며 본격적인 시리즈 복귀를 알렸는데요. 대니 보일 감독이 “3편은 킬리언 머피의 영화가 될 것”이라고 밝힌 만큼,
				〈28년 후: 뼈의 사원〉에서도 핵심 인물로 활약할 것으로 보입니다.&nbsp;</p>
			<p style="line-height: 1.5; text-align: justify;">
				<strong>&nbsp;</strong>
			</p>
			<p style="line-height: 1.5; text-align: justify;">시리즈의 피날레를 향해 가는
				강렬한 도약이 될 〈28년 후: 뼈의 사원〉은 오는 2월 27일, 극장에서 만나볼 수 있습니다.&nbsp;</p>
			<p style="line-height: 1.5; text-align: justify;">
				<strong><br>
				<br></strong>
			</p>
			<p style="line-height: 1.5; text-align: justify;">
				<strong>아래 관련 콘텐츠를 통해, 영화 〈28년 후: 뼈의 사원〉과 관련된 작품들을 확인해 보세요
					👀</strong>
			</p>
			<p style="line-height: 1.5; text-align: justify;">
				<strong>&nbsp;</strong>
			</p>
			<p style="line-height: 1.5; text-align: center;">
				<span style="font-size: 10pt;">Copyright © 왓챠피디아, 무단 전재-재배포 및
					AI 학습 이용 금지</span>
			</p>
		</article>
	</section>
	<ul class="_tags_u9u3k_37 _component_82rb0_1 _sunrise_82rb0_17">
		<li><a class="_tag_19o0r_1 _medium_o65ro_6 _body3_o65ro_153"
			data-discover="true"
			href="/ko-KR/magazine/tags/ghtnPy2dw?w_ref=/magazine/html">#아티클</a></li>
	</ul>
</section>
<hr class="_hr_u9u3k_61">

<div class="_relatedSections_u9u3k_53">
<section
	class="_relatedSection_u9u3k_48 _component_82rb0_1 _sunrise_82rb0_17">
	<h2 class="_relatedSectionTitle_u9u3k_57">관련 콘텐츠</h2>
	<section class="_listSection_1dqe2_1 _container_mz3qo_1">
		<div class="_listWrapper_mz3qo_13 listWrapper">
			<ul class="_list_1dqe2_1 relatedUl _list_mz3qo_13">
				<li class="_li_10apn_31"><a title="28년 후: 뼈의 사원"
					data-discover="true"
					href="/ko-KR/contents/mOPV3va?w_ref=/magazine/html"><div
							class="_posterBlock_10apn_44">
							<div
								class="_posterImage_10apn_107 _lazy_1v03k_5 _lazyLoadingImage_1hdzi_1">
								<img alt="content" class="_show_1hdzi_15 _img_1hdzi_6"
									src="https://an2-img.amz.wtchn.net/image/v2/eMRUoC8rDTcmC0C8q_iLBQ.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5Ea3dlRGN3TUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpFME56azBNek15T1RrME5URTVNVFFpZlEuWWxmYlZfYkt5S3U0Xzk5LWRNYWp6OXBTNWZQSnN2X254SHh5R2dWNnNQaw=="
									style="transition: opacity 420ms;">
							</div>
						</div>
						<div class="_contentWrapper_10apn_102" style="text-align: left;">
							<div class="_contentTitle_10apn_116">28년 후: 뼈의 사원</div>
							<div>
								<div class="_body4_o65ro_164 _contentRating_10apn_128">평균
									★ 3.4</div>
								<div class="_contentType_10apn_148 _caption12_o65ro_175">영화</div>
							</div>
						</div></a></li>
				<li class="_li_10apn_31"><a title="28일 후" data-discover="true"
					href="/ko-KR/contents/mDWvZ3W?w_ref=/magazine/html"><div
							class="_posterBlock_10apn_44">
							<div
								class="_posterImage_10apn_107 _lazy_1v03k_5 _lazyLoadingImage_1hdzi_1">
								<img alt="content" class="_show_1hdzi_15 _img_1hdzi_6"
									src="https://an2-img.amz.wtchn.net/image/v2/t6cdZ8kNgk1bcsd5uvaK8w.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5Ea3dlRGN3TUhFNE1DSmRMQ0p3SWpvaUwzWXhMMncwWnpaeFpUazRlR0pvYVhwNGQyNXRaM05oSW4wLnBuOFhKTXBqVmVnQlM4SEZPT0RKRVc1cG0ya0JweEtmbFo3QzFHRnVYVGs="
									style="transition: opacity 420ms;">
							</div>
							<div class="_ottBadgeWrapper_10apn_67">
								<div
									class="_ottBadge_10apn_67 _show_10apn_63 _ottBadge_10apn_67">
									<img alt=""
										src="https://an2-img.amz.wtchn.net/image/v2/33c15d90f101414a351372f19172859f.png?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKd1lYUm9Jam9pTDNZeUwzTjBiM0psTDNWcGJXRm5aUzh4TmpFeE1qQXdNVGN3T1RZd05qWTVNRE0xSW4wLlFwWFc3MERPaF9GR3ZMWVVzSUFCOFdLNWhLRjE3Ym5za1Z1bVFEN0lsSkU">
								</div>
							</div>
						</div>
						<div class="_contentWrapper_10apn_102" style="text-align: left;">
							<div class="_contentTitle_10apn_116">28일 후</div>
							<div>
								<div class="_body4_o65ro_164 _contentRating_10apn_128">평균
									★ 3.7</div>
								<div class="_contentType_10apn_148 _caption12_o65ro_175">영화</div>
							</div>
						</div></a></li>
				<li class="_li_10apn_31"><a title="28년 후" data-discover="true"
					href="/ko-KR/contents/mOAkrNQ?w_ref=/magazine/html"><div
							class="_posterBlock_10apn_44">
							<div
								class="_posterImage_10apn_107 _lazy_1v03k_5 _lazyLoadingImage_1hdzi_1">
								<img alt="content" class="_show_1hdzi_15 _img_1hdzi_6"
									src="https://an2-img.amz.wtchn.net/image/v2/ffiNowk30wEAhIdu1YqLsA.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5Ea3dlRGN3TUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpJd05EazNNRGswT1RjNU5EZ3hOamNpZlEud2dnX1RabTE3eUJEMG80RjVJeFQ5RG80OW55cFlIVjF3bmlRVGQtUGxHUQ=="
									style="transition: opacity 420ms;">
							</div>
							<div class="_ottBadgeWrapper_10apn_67">
								<div
									class="_ottBadge_10apn_67 _show_10apn_63 _ottBadge_10apn_67">
									<img alt=""
										src="https://an2-img.amz.wtchn.net/image/v2/33c15d90f101414a351372f19172859f.png?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKd1lYUm9Jam9pTDNZeUwzTjBiM0psTDNWcGJXRm5aUzh4TmpFeE1qQXdNVGN3T1RZd05qWTVNRE0xSW4wLlFwWFc3MERPaF9GR3ZMWVVzSUFCOFdLNWhLRjE3Ym5za1Z1bVFEN0lsSkU">
								</div>
								<div
									class="_ottBadge_10apn_67 _show_10apn_63 _ottBadge_10apn_67">
									<img alt=""
										src="https://an2-img.amz.wtchn.net/image/v1/updatable_images/2571/original/42e70f1bc34d7af54478a311983ecf6d3601eefa.png">
								</div>
							</div>
						</div>
						<div class="_contentWrapper_10apn_102" style="text-align: left;">
							<div class="_contentTitle_10apn_116">28년 후</div>
							<div>
								<div class="_body4_o65ro_164 _contentRating_10apn_128">평균
									★ 2.8</div>
								<div class="_contentType_10apn_148 _caption12_o65ro_175">영화</div>
							</div>
						</div></a></li>
				<div class="_scroll_mz3qo_45 loadmore"></div>
			</ul>
		</div>
		<div
			class="_buttonContainer_mz3qo_56 arrowButton _right_mz3qo_68 _disabled_mz3qo_64">
			<button class="_button_jl4aw_1" title="right" type="button">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
					fill="none" viewBox="0 0 24 24">
					<path fill="currentColor"
						d="M8.07 3a.76.76 0 0 0 0 1.09l8.65 8.46a.8.8 0 0 0 1.11 0 .76.76 0 0 0 0-1.1L9.18 3a.8.8 0 0 0-1.12 0"></path>
					<path fill="currentColor"
						d="M8.07 21a.8.8 0 0 0 1.12 0l8.64-8.45a.76.76 0 0 0 0-1.1.8.8 0 0 0-1.11 0l-8.65 8.46a.76.76 0 0 0 0 1.09"></path></svg>
			</button>
		</div>
		<div
			class="_buttonContainer_mz3qo_56 arrowButton _left_mz3qo_72 _disabled_mz3qo_64">
			<button class="_button_jl4aw_1" title="left" type="button">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
					fill="none" viewBox="0 0 24 24">
					<path fill="currentColor"
						d="M16.5 3a.76.76 0 0 1 0 1.09l-8.65 8.46a.8.8 0 0 1-1.12 0 .76.76 0 0 1 0-1.1L15.38 3a.8.8 0 0 1 1.12 0"></path>
					<path fill="currentColor"
						d="M16.5 21a.8.8 0 0 1-1.12 0l-8.65-8.45a.76.76 0 0 1 0-1.1.8.8 0 0 1 1.12 0l8.64 8.46a.76.76 0 0 1 0 1.09Z"></path></svg>
			</button>
		</div>
	</section>
</section>
</div>
</div>
</section>
</html>